<div class="col-md-6">
  <div>
    <button routerLink="/" type="button" class="btn btn-info">Back to main page</button>
  </div>

  <div  class="border">
    <h4 *ngIf="postIdForUpdate; else addPost">
      Edit Post #{{postIdForUpdate}}
    </h4>
    <ng-template #addPost>
      <h4> Add Post</h4>
    </ng-template>

    <div>
      <form [formGroup]="postForm" (ngSubmit)="postFormSubmit()">
        <label>Title
          <input formControlName="title">
        </label>
        <label>Author
          <input formControlName="author">
        </label>
        <br>
        <button class="btn btn-primary" *ngIf="!postIdForUpdate">Create</button>
        <button  class="btn btn-primary" *ngIf="postIdForUpdate" >Save</button>
      </form>
      <button class="btn btn-danger" *ngIf="postIdForUpdate" (click)="cancelUpdate()">Cancel</button>
    </div>
      </div>
    <hr>

      <div>
        <h4>Posts:</h4> <button *ngIf="postIdForUpdate" class="btn btn-info" (click)="cancelUpdate()">Insert new</button>
      </div>

    <div class="card" *ngFor="let post of posts">
      <div class="card-header"><span class="h4">{{post.title}}</span> <span>#ID{{post.id}}</span></div>
      <div class="card-body">{{post.author}}</div>
      <span>
          <input type="button" value="Edit" class="btn btn-primary" (click)="insertPostbyIdToForm(post.id)">
          <input type="button" value="Delete" class="btn btn-danger" (click)="deletePost(post.id)">
      </span>
    </div>
</div>

